.App {
    text-align: center;
}

body {
    background: rgba(0, 102, 255, 0.38);
    font-family: sans-serif;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}