.Links {
    list-style: none;
    margin: 0;
    padding-top: 1rem;
    width: 100%;
    text-align: center;

    & a {
        text-decoration: none;
        color: black;
        padding: .5rem 1rem;
        border: 2px solid black;
    }

    & a:hover {
        background-color: #007DDC;
    }

    & li {
        display: inline-block;
        margin: 1rem;
    }

    & a[class='current-path'] {
        background-color: #007DDC;
    }
}
