.article {
  background: #FFF;
  border: 1px solid rgba(0, 89, 181, 0.82);
  width: 600px;
  margin: 0 0 5px;
  box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
  padding: 3px 5px;
}

.red {
  color: #ff0000;
}

.news_author {
  text-decoration: underline;
  color: #007DDC;
}

.news_header {

}

.news_count {
  margin: 10px 0 0 0;
  display: block;
}

.news_readmore {

}

.news {
  border: solid 1px;
  width: fit-content;
}

.add_news {
  margin: 0 5px 5px 0;
  width: 210px;
  border: 1px dashed rgba(0, 89, 181, 0.82);
  padding: 5px;
}

.add_author, .add_news_text, .add_new_news, .agreement {
  display: block;
  margin: 0 0 5px 0;
  padding: 5px;
  width: 94%;
  border: 1px solid rgba(0, 89, 181, 0.82);
}

.agreement {
  border: none;
  font-size: 12px;
}

.add_new_news {
  box-sizing: content-box;
  color: #FFF;
  text-transform: uppercase;
  background: #007DDC;
}

.add_new_news:disabled {
  background: #CCC;
  color: #999;
}